TAG=v1.19.1
SERVER_URL=http://localhost:4000
STORAGE_TYPE=local

# Generate with: openssl rand -base64 32
APP_SECRET=replace_me

PG_DATABASE_USER=postgres
PG_DATABASE_PASSWORD=postgres
PG_DATABASE_HOST=db
PG_DATABASE_PORT=5432
PG_DATABASE_NAME=default

REDIS_URL=redis://redis:6379
